{% extends 'utils/base.html' %} {% block start %}
<div class="container mt-4 pt-5 pb-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card shadow-lg" style="width: 18rem">
        <img src="https://imgs.search.brave.com/T-aT3LJrJsg58DslxguXFUh4QuXglJ18y5Yy1VGsE5s/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNTAz/MDE2OTM0L3Bob3Rv/L2VudHJhbmNlLW9m/LWx1eHVyeS1ob3Rl/bC5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9RFhGenVjQjJ4/V0dmM1BJNl95amhM/S0R2ckZjR2xPcE9q/WGg2S0RJOHJxVT0" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card’s content.
          </p>
          
          <span class="badge text-bg-primary">Swimming Pool</span>
          <span class="badge text-bg-primary">AC</span>
          <span class="badge text-bg-primary">Wifi</span>
          <span class="badge text-bg-primary">Television</span>
          <span class="badge text-bg-primary">gym</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-lg" style="width: 18rem">
        <img src="https://imgs.search.brave.com/T-aT3LJrJsg58DslxguXFUh4QuXglJ18y5Yy1VGsE5s/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNTAz/MDE2OTM0L3Bob3Rv/L2VudHJhbmNlLW9m/LWx1eHVyeS1ob3Rl/bC5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9RFhGenVjQjJ4/V0dmM1BJNl95amhM/S0R2ckZjR2xPcE9q/WGg2S0RJOHJxVT0" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card’s content.
          </p>
          
          <span class="badge text-bg-primary">Swimming Pool</span>
          <span class="badge text-bg-primary">AC</span>
          <span class="badge text-bg-primary">Wifi</span>
          <span class="badge text-bg-primary">Television</span>
          <span class="badge text-bg-primary">gym</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-lg" style="width: 18rem">
        <img src="https://imgs.search.brave.com/T-aT3LJrJsg58DslxguXFUh4QuXglJ18y5Yy1VGsE5s/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNTAz/MDE2OTM0L3Bob3Rv/L2VudHJhbmNlLW9m/LWx1eHVyeS1ob3Rl/bC5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9RFhGenVjQjJ4/V0dmM1BJNl95amhM/S0R2ckZjR2xPcE9q/WGg2S0RJOHJxVT0" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card’s content.
          </p>
          
          <span class="badge text-bg-primary">Swimming Pool</span>
          <span class="badge text-bg-primary">AC</span>
          <span class="badge text-bg-primary">Wifi</span>
          <span class="badge text-bg-primary">Television</span>
          <span class="badge text-bg-primary">gym</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-lg" style="width: 18rem">
        <img src="https://imgs.search.brave.com/T-aT3LJrJsg58DslxguXFUh4QuXglJ18y5Yy1VGsE5s/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNTAz/MDE2OTM0L3Bob3Rv/L2VudHJhbmNlLW9m/LWx1eHVyeS1ob3Rl/bC5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9RFhGenVjQjJ4/V0dmM1BJNl95amhM/S0R2ckZjR2xPcE9q/WGg2S0RJOHJxVT0" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card’s content.
          </p>
          
          <span class="badge text-bg-primary">Swimming Pool</span>
          <span class="badge text-bg-primary">AC</span>
          <span class="badge text-bg-primary">Wifi</span>
          <span class="badge text-bg-primary">Television</span>
          <span class="badge text-bg-primary">gym</span>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
