<nav class="navbar navbar-dark bg-danger shadow-lg p-2 ">
  <div class="container-fluid">
    <a class="navbar-brand">
        <img height="50px" src="https://imgs.search.brave.com/9yoh3SSoSfJ2_9d9XmHKxco0E3z-bTmR9Bl655mHGSg/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9sb2dv/d2lrLmNvbS9jb250/ZW50L3VwbG9hZHMv/aW1hZ2VzL295by1y/b29tczU0NDYuanBn" alt="oyo-logo">
    </a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>